.flames{
    width: 100%;
    height: 90vh;
    background-image: url(neonflames.png);
    background-position: center;
    background-size: cover;
}

body{
    overflow-x: hidden;
    color: white;
    background-color: black;
    margin: -0px;
    font-family: 'Chakra Petch', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2{
    text-align: center;
    animation-name: SlideLeft;
    animation-duration: 1s;
}

main{
    text-align: center;
    animation-name: SlideLeft;
    animation-duration: 1s;
}

@keyframes SlideLeft{
    from{transform: translateX(10%);}
}

#h1_1{
    text-align: center;
    margin-top: 100;
    color: rgb(94, 223, 255);
    text-shadow: 1px 1px 2px rgb(0, 246, 254);
    animation-name: dolů;
    animation-duration: 1s;
}
#h1_2{
    text-align: center;
    margin-top: 100;
    color: rgb(94, 223, 255);
    text-shadow: 2px 2px 3px rgb(255, 255, 255);
}

@keyframes dolů{
    from{transform: translateY(-100%);}
}

/* navbar */

.navbar ul{
    height: 50px;
    background-color: rgb(76, 0, 255);
    box-shadow: 0 2px 4px 0 rgb(76, 0, 255);
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    margin-top: 30px;
    overflow: hidden;
}

.navbar a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 15px;
    display: block;
}

.navbar a:hover{
    background-color: rgb(0, 143, 143);
    font-size: 17px;
    transition: all 500ms;
    font-size-adjust: 20px;
}

.navbar li:hover{
    float: left;
}

.navbar li{
    float: left;
}

/* Gallery Page */

.gallery{
    display: inline-block;
    border: 1px solid gray;
    margin: 5px;
    width: 25%;
}
.gallery .description{
    padding: 10px;
    text-align: center;
}
.gallery:hover{
    border: 1px solid rgb(87, 232, 227);
}
.gallery img{
    width: 100%;
}
#update{
    color: tomato;
}

/* Social Page */

.fa-brands.fa-github.fa-10x{
    color: rgb(20, 20, 20);
    text-shadow: 0px 0px 2px white;
}
.fa-brands.fa-youtube.fa-10x{
    color: tomato;
}
.fa-brands.fa-github.fa-10x:hover{
    color: black;
    font-size: 180px;
    transition: all 500ms;
    font-size-adjust: 20px;
}
.fa-brands.fa-youtube.fa-10x:hover{
    color: rgb(222, 76, 51);
    font-size: 180px;
    transition: all 500ms;
    font-size-adjust: 20px;
}