.updateLog li{
    font-size: 17px;
    transition: all 500ms; 
}

.updateLog li:hover{
    font-size: 20px;
    transition: all 500ms; 
}

.updateLog{
    animation-name: Slide;
    animation-duration: 1s;
}
@keyframes Slide{
    from{
        transform: translateX(10%);
    }
    to{
        transform: translateX(0%);
    }
}

.title {
    animation-name: slideD;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes slideD{
    0%{
        transform: translateY(-100%);
    }
    50%{
        transform: translateY(10%);
    }
    100%{
        transform: translateY(0%);
    }
}