.navbar a{
    font-size: 16px;
    transition: all 500ms;
    font-size-adjust: 20px;
}

.navbar a:hover{
    font-size: 17px;
    transition: all 250ms;
    font-size-adjust: 20px;
}

header{
    animation-name: titleK;
    animation-duration: 18s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
}

@keyframes titleK{
    0%{
        transform: rotateZ(0deg);
    }
    20%{
        transform: rotateZ(-2deg);
    }
    40%{
        transform: rotateZ(2deg);
    }
    60%{
        transform: rotateZ(-2deg);
    }
    80%{
        transform: rotateZ(2deg);
    }
    100%{
        transform: rotateZ(0deg);
    }
}

h1{
    font-size: 30px;
    transition: all 500ms;
}

h1:hover{
    font-size: 35px;
    transition: all 500ms;
}

footer p{
    font-size: 16px;
    transition: all 500ms;
}

footer p:hover{
    font-size: 22px;
    transition: all 500ms;
}