.updateLog{
    text-align: center;
    text-shadow: 0px 0px 3px white;
}
.updateLog ul{
    list-style-type: none;
}
#Date{
    color: orange;
    text-shadow: 0px 0px 3px rgb(255, 245, 214);
    font-size: 1.2em;
}
.updateLog li{
    color: rgb(140, 255, 0);
    text-shadow: 0px 0px 3px red;
}
#important{
    color: tomato;
}