body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    background-image: url(/neonflames.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    color: aliceblue;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
    text-align: center;
}
main{
    margin-top: 3%;
}


body::-webkit-scrollbar{
    width: 0.1rem;
}
body::-webkit-scrollbar-track{
    background: rgba(0, 0, 0, 0.283);
}
body::-webkit-scrollbar-thumb{
    background: rgb(0, 255, 255);
}


#ver{
    position: fixed;
    width: 200px;
    text-shadow: 0px 0px 3px white;
    margin-left: 2%;
    margin-bottom: 3%;
    bottom: 0;
}


h1{
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    display: inline-block;
    overflow: hidden;
    text-shadow: 0px 0px 3px white;
}
h1::first-letter{
    font-size: larger;
    font-style: oblique;
}

#Pages{
    float: inline-start;
    padding: 10px;
    font-size: 1.6em;
    text-shadow: 0px 0px 3px aquamarine;
    color: aquamarine;
    border-right: 2px Solid rgba(127, 255, 212, 0.242);
}
.navbar ul{
    list-style-type: none;
    background-color: rgba(125, 125, 125, 0.133);
    height: 50px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: rgb(122, 240, 255);
    text-decoration: none;
    padding: 15px;
    display: inline-block;
    text-align: left;
    text-shadow: 0px 0px 3px cyan;
}
.navbar a:hover{
    background-color: rgba(37, 37, 37, 0.527);
    font-size: 1.1em;
    color: rgb(205, 255, 255);
}
.navbar li{
    float: left;
    border-right: 1px solid rgba(0, 255, 247, 0.119);
}